#interests  {
    width: 250px;
}

.ui-autocomplete {
    background-color: white;
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

.col-centered{
    float: none;
    margin: 0 auto;
}

.form-labels{
    font-size: 16pt;
    padding: 5px;
    font-weight: bolder;
}

.background_image   {
    background-color: #06c;
}

.form-background    {
}